.display {
  border: thick purple solid;
  height: 500px;
  width: auto;
  font-size: 75px;
  background-color: white;
  /* text-align: center;
  vertical-align: middle;
  padding: auto; */
  transition: background-color 3s;
}

.displayCold {
  background-color: blue;
}

.displayNice {

}

.displayWarm {

}

.displayHot {

}
